// 边框颜色
$color-border-0: #DCDFE6;
$color-border-1: #E4E7ED;
$color-border-2: #EBEEF5;
$color-border-3: #F2F6FC;
// 字体颜色
$color-font-0: #303133;
$color-font-1: #606266;
$color-font-2: #909399;
$color-font-3: #C0C4CC;

// hover颜色
$color-hover-blue: #409EFF;
$color-hover-red: #F56C6C;

// 背景颜色
$color-background-default: #FFFFFF;
$color-background-main: #F2F6FC;
